<html>
<head>
    <title>Artists!</title>
</head>
<body>
    <h1>Here are the Artists</h1>

    <ul>
       <% artists.each do |artist| %>
        <li><a href="artists/<%= artist.url %>"><%= artist.name %></li> 
        <% end %>
    </ul>



</body>
</html>