<html>
<head>
    <title><%= artist.name %> homepage!!</title>
</head>
    <body>

        <h1><%= artist.name %></h1>

        <h3>Songs</h3>
        <ul>
            <% artist.songs.each blah blah %>
            <li><%= song %></li>
        </ul>

        <h3>Gengres</h3>
        <ul>
            <% artist.genres.each balh balh %>
            <li><%= genre %></li>
        </ul>
        

    </body>


</html>
