<html>
  <body>
    <h1>Welcome to Playlister Awesome HTML</h1>

    <p>Let's browse some songs</p>
    <h2><a href="artists.html">Artists (<%= artists.count %>)</a></h2>

    <h2><a href="genres.html">Genres (<%= genres.count %>)</a></h2>
  
  </body>
</html>