<html>
  <body>
    <h1>Welcome to Playlister Awesome HTML</h1>

    <p>Let's browse some songs</p>
    <h2>Artists</h2>
    <ul>
      <% artists.each do |artist| %>
      <li><a href="artists/<%= artist.name.downcase.gsub(' ','-') %>.html"><%= artist.name %></a></li>
      <% end %>
    </ul>
    <h2>Genres</h2>
    <ul>
      <% genres.each do |genre| %>
      <li><a href="genres/<%= genre.name.downcase %>.html"><%= genre.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>